html {
    background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noise_lines.png);
}
body {
    background-color: transparent;
    background-image: none;
}

/* Nav bar */
.navbar-inner {
    background-color: transparent;
    box-shadow: none;
    background-image: none;
}

.navbar .brand {
    float: right;
    margin-right: 0;
    padding-right: 0;
}

/* my app */

.app.container {
    margin-top: 60px;
}

.hero-unit {
    background-color: #eee;
    background-color: rgba(200, 200, 200, .5);
}

.authorized-user {
    background-position: 50% 50%;
}

.highlight {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

.highlight .user-bio {
    background-color: #eee;
    padding-left: 5px;
}
